*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background-color: #ebebeb;
    font-family: sans-serif;
}


ul {
    float: right;
}

li {
    display: inline;
    float: left;
}

img.logo {
    float: left;
}

nav {
    width: 100%;
    margin: 0 auto;
}

/* Section */

section.stretch {
    float: left;
    height: 1500px;
    width: 100%;
}

section.stretch p{
    font-family: sans-serif;
    font-size: 30px;
    color: #969696;
    text-align: center;
    position: relative;
    margin-top: 250px;
}

section.stretch p.bottom {
    top: 100%;
    padding-bottom: 1em;
}

/* Header */

header {
    background-color: #c7c7c7;
    float: left;
    width: 100%;
    position: fixed;
    z-index: 10;
}

header a {
    color: #969696;
    text-decoration: none;
    font-family: 'Amaranth', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
}

.large li.active, .large li:hover {
    border-bottom: 3px solid #C6596F;
}

.small li.active, .small li:hover {
    border-bottom: 3px solid #C6596F;
    padding-bottom: 15px;
}


header li {
    margin-right: 30px;
}

header li:last-child {
    margin-right: 100px;
}

header.large {
    height: 80px;
    background-color: white;
    display: flex;
}

header.large li {
    margin-top: 34px;
}

header.large img {
    margin-top: 13px;
}

.large .nav-logo {
    float: left;
    margin-left: 100px;
}

/* header small */

header.small {
    height: 50px;
    background-color: white;
}

header.small li {
    margin-top: 17px;
}

.small img {
    margin-left: 100px;
    margin-top: 0px;
    transform:scale(0.6);
    -webkit-transform:scale(0.6);
    -moz-transform:scale(0.6);
    -o-transform:scale(0.6);
}

/* Transitions */

header,
nav,
li {
    transition: .7s all;
    -moz-transition: .7s all;
    -webkit-transition: .7s all;
    -o-transition: .7s all;
}

li.active, header li:hover {
    padding-bottom: 28px;
    transition: 0s all;
    -moz-transition: 0s all;
    -webkit-transition: 0s all;
    -o-transition: 0s all;
}

@media screen and (min-width: 0px) {

    .small img {
        margin-left: 100px;
        margin-top: 0px;
        transform:scale(0.6);
        -webkit-transform:scale(0.6);
        -moz-transform:scale(0.6);
        -o-transform:scale(0.6);
    }

    header {
        visibility: hidden;
    }

    .site-nav {
        visibility: visible;
    }

    header,
    nav,
    li {
        transition: 0s all;
        -moz-transition: 0s all;
        -webkit-transition: 0s all;
        -o-transition: 0s all;
    }

    li.active, header li:hover {
        transition: 0s all;
        -moz-transition: 0s all;
        -webkit-transition: 0s all;
        -o-transition: 0s all;
    }

    .large .nav-logo {
        transition-delay: 0s;
    }
}

@media screen and (max-width: 1024px) {

    .small img {
        margin-left: 100px;
        margin-top: 0px;
        transform:scale(0.6);
        -webkit-transform:scale(0.6);
        -moz-transform:scale(0.6);
        -o-transform:scale(0.6);
    }

    header {
        visibility: hidden;
    }

    .site-nav {
        visibility: visible;
    }

    header,
    nav,
    li {
        transition: 0s all;
        -moz-transition: 0s all;
        -webkit-transition: 0s all;
        -o-transition: 0s all;
    }

    li.active, header li:hover {
        transition: 0s all;
        -moz-transition: 0s all;
        -webkit-transition: 0s all;
        -o-transition: 0s all;
    }

    .large .nav-logo {
        transition-delay: 0s;
    }

}

@media screen and (min-width: 1025px) {

    header {
        visibility: visible;
    }

    .site-nav {
        visibility: hidden;
    }

    header,
    nav,
    li {
        transition: .7s all;
        -moz-transition: .7s all;
        -webkit-transition: .7s all;
        -o-transition: .7s all;
    }

    li.active, header li:hover {
        padding-bottom: 28px;
        transition: 0s all;
        -moz-transition: 0s all;
        -webkit-transition: 0s all;
        -o-transition: 0s all;
    }

}


/*toggle*/

.site-nav ul {
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    display: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
}

.site-nav ul.opening {
    display: block;
}

.site-nav li {
    width: 100%;
}

.site-nav a {
    color: #ffffff;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 38px;
}

.site-nav li:hover, nav li:focus {
    -webkit-box-shadow: inset 0px 0px 60px 5px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 60px 5px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 60px 5px rgba(0,0,0,1);
    color: #C2D22B;
}

.site-nav li:first-child:hover, nav li:first-child:focus {
    -webkit-box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.menu-toggle {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

#hamburger-icon {
    width: 80px;
    height: 80px;
    position: relative;
    margin-top: 70px;
    margin-right: 70px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#hamburger-icon span {
    display: inline-block;
    position: absolute;
    height: 18px;
    width: 100%;
    background: #C6596F;
    border-radius: 10px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}



#hamburger-icon span:nth-child(1) {
    top: 0px;
}

#hamburger-icon span:nth-child(2),#hamburger-icon span:nth-child(3) {
    top: 26px;
}

#hamburger-icon span:nth-child(4) {
    top: 52px;
}

#hamburger-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#hamburger-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hamburger-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#hamburger-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#li-hamburger-logo {
    background-color: white;
}

#li-hamburger-1 {
    background-image: url("hamburger-button-1.jpg");
    padding: 80px;
    background-size: 100%;
    height: 12%;
}

#li-hamburger-2 {
    background-image: url("hamburger-button-2.jpg");
    padding: 80px;
    background-size: 100%;
}

#li-hamburger-3 {
    background-image: url("hamburger-button-3.jpg");
    padding: 80px;
    background-size: 100%;
}

#li-hamburger-4 {
    background-image: url("hamburger-button-4.jpg");
    padding: 80px;
    background-size: 100%;
}


